name: Tests

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: 3.14

      - name: Install dependencies
        run: |
          sudo apt-get update && sudo apt-get install -y libc++-dev libc++abi-dev
          pip install -e .
          pip install pytest

      - name: Run tests
        run: pytest -v
